/*Elements common to all pages*/
/*Up for change*/

/*start of code by Walid*/

body {
    margin:0px;
    background-color: #F0F0F0;
}

h3 {
    font-family: 'Lobster', cursive;
}

h2 {
    font-family: 'Lobster', cursive;
}

a:link {
    color: #3674AB;
}

a:visited {
    color: #274E70;
}

div.first_title {
    padding-top: 100px;
    text-align: center;
}

h2.first_title {
    text-align: center;
}

div.container {
	min-height: calc(100vh - 151px);
}

/*end of code by Walid*/

/*===========================================*/

/* Navigation bar */

/*start of code by Walid*/

div.navbar {
    /* margin-right : 110px;*/
    background-color: #3674AB;
    position: fixed;
    width: 100%;
    color: white;
}

ul.navlist {
    display:inline-block;
    padding-left: 50px;
}

li.navlist {
    list-style-type: none;
    float:right;
    padding:5px 20px;
}


li.navlist > a {
    text-decoration: none;
    font-size: 30px;
    padding-right: 5px 20px;
    color: inherit;
    font-family: 'Rubik', sans-serif;
}

img.logonavbar {
    display: inline-block;
    max-height:75px;
    padding:5px 20px;
}

a.logonavbar {
    display: inline-block;
    max-height:85px;
}

hr.navbar {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: block;
    height: 10px;
    background-color: #FFE380;
    color: #FFE380;
}

/*end of code by Walid*/

/*=================================================*/

/*footer*/

/*Start of code by Walid*/

div.footer {
    background-color: #3674AB;
	/*position:relative;
	bottom:0px;
	width:100%;*/
}

div.logo_footer {
    float: left;
    width: 20%;
}

div.links_footer {
    width: 60%;
    display: inline-block;
    text-align: center;
}

ul.links_footer {
    display:inline-block;
    text-align:center;
}

li.links_footer {
    list-style-type: none;
    display: inline-block;

    padding:5px 10px;
}

li.links_footer > a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 5px;
    color: inherit;
    font-family: 'Rubik', sans-serif;
}

div.social_footer {
    float: right;
    width: 20%;
}

div.clear {
    clear:both;
}

div.copyright_footer {
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    background-color: black;
    color: white;
}

p.copyright_footer {
    padding: 0px;
    margin-bottom: 0px;
}

img.logo_footer {
    float: left;
    height: 75px;
    width: 75px;
}

img.social_footer {
    float: right;
    height: 75px;
    width: 75px;
    padding: 5px;
}

hr.footer {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    display: block;
    height: 10px;
    background-color: #FFE380;
    color: #FFE380;
}

/*end of code by Walid*/

/*=================================================*/
/*Homepage (Chris)*/

div.mainPage {
}

.img {
	background : "Pictures/campustour.jpg";
	webkit-filter: blur(5px);
	moz-filter: blur(5px);
	ms-filter: blur(5px);
	o-filter: blur(5px);
	filter: blur(5px);
}

div.bg_index {
	position : absolute;
	left: 0px;
	top: 0px;	
	width: 100%;
	z-index: -1;
	overflow: hidden;
}

img.bg_index {
	width: 100%;
	webkit-filter: blur(5px);
	moz-filter: blur(5px);
	ms-filter: blur(5px);
	o-filter: blur(5px);
	filter: blur(5px);
	z-index: -1;
}

div.slogan{
	padding-top:30%;
}

h2.index_title{
	color:#FFE380;
	font-size:50px;
}

h2.index{
	color:#FFE380;
}

/*===================================================*/

/*What's SolutionShare (How it works) page(Walid)*/

/*Start of code by Walid*/

div.whats_ss_content {
	margin: 0px;
	margin-right: 10%;
	margin-left: 10%;
	/*width: 80%;*/
	min-width: 350px;
}

div.text_whats_ss {
    margin-top:25px;
    margin-bottom:25px;
    /*margin-right:200px;
    margin-left:200px;*/
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* for Safari */
}

/*div.text_whats_ss:hover {
    margin-top:5px;
    margin-bottom:5px;
    margin-right:80px;
    margin-left:80px;
}*/

hr.whats_ss {
   /* margin-right:200px;
    margin-left:200px;*/
    height: 2px;
    background-color: #FFE380;
    border: 1px solid #FFE380;
}

div.text_whats_ss > p.whats_ss {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 200%;
}

h3.whats_ss {
    font-size: 35px;
}

h2.whats_ss {
    font-size: 50px;
}

.whats_ss_button {
    background-color: white;
    border: 3px solid #1F6691;
    border-radius: 10px;
    padding: 10px 20px;
}

.whats_ss_button:hover {
    background-color: #1F6691;
    color: white;
    border: 3px solid #FFE380;
}

img.whats_ss {
    max-width:35%;
    float:left;
    padding-right:5px;
    padding-bottom:17px;
}

/*end of code by Walid*/

/*==============================================*/

/* Features (Max) */
h2.feature{
	font-size:50px;
}
h3.feature{
	font-size:35px;
}
div.features{
	margin:0 2.5% 0 2.5%;
}
div.feature {
    display:inline-block;
    padding:30px;
	vertical-align:top;
}
p.feature{
	font-family:'Rubik', sans-serif;
	font-size:20px;
	line-height:150%;
	text-align:justify;
	text-align-last:center;
	width:400px;
}
img.feature {
    height:130px;
}

/*=================================================*/

/*About us (Alex and Walid)*/

div.about_us_title {
    text-align: center;
}

/*div.about_us_bios {
    clear: top;
}*/

p.about_us_bios {
    display: inline-block;
}

div.about_us_text_container {
    float:right;
    width: 75%;
}

div.about_us_pic_container {
    float:left;
    width: 25%;
}

hr.about_us {
    clear: both;
}

img.about_us_pics {
    display: inline-block;
    /*max-height: inherit;*/
}

/*===================================================*/
/*Donations (Abel)*/


div.page_abel {
	background-image: url("Pictures/background1.jpg");
	min-width: 350px;    
	height: 100%;
    width:100%;
    z-index:1000;


	
}	


h2.donations {
    font-size: 350%;
	padding-bottom: 30px;
	padding-top: 50px;

}

h3.donations {
    font-size: 200%;
	text-align: center;
    margin-left: 200px;
    margin-right: 200px;
	margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 5px;	
	overflow: avoid;
	opacity: 0.85;
    filter: alpha(opacity=60);	
	background-color: #ffffff;

	
    
}

div.transbox {
 	background-image: url("Pictures/Girl-studying-in-Library.jpg");
	background-size: absolute;
	margin-left: 200px;
    margin-right: 200px;
	margin-bottom: 50px;
    border: 1 px solid black;
    

} 








/*===================================================*/

/*Temporary link (by Walid)*/

div.under_construction {
    margin-right:200px;
    margin-left:200px;
    text-align: center;
}









/*KEEP THIS AT THE BOTTOM OF THE FILE, WRITE ON TOP OF THIS COMMENT*/
/*This make the padding on top of the div with the class "first_title" bigger when th max-
width of the page is 1168px, 1033px or 632px. We can change the class so that it does
the same for the title of all our. This is a solution to the fact that when the navbar
gets thicker (shrinked screen), it starts hiding the title */

/*Start of code by Walid*/

@media screen and (max-width:1168px) {

div.first_title {
    padding-top: 170px;
}

}

@media screen and (max-width:1033px) {

div.first_title {
    padding-top: 240px;
}

}

@media screen and (max-width:632px) {

div.first_title {
    padding-top: 310px;
}

}

/*end of code by Walid*/